@font-face {
    font-family: "lobster";
    src: url(./html/fonts/Lobster.ttf) format(truetype);
    src: url(./html/fonts/Lobster.woff) format(woff);
    src: url(./html/fonts/Lobster.woff2) format(woff2);
}
@font-face {
    font-family: "tanha";
    src: url(./html/fonts/tanha/dist/Tanha.woff2) format('woff2');
    src: url(./html/fonts/tanha/dist/Tanha.woff) format('woff');
    src: url(./html/fonts/tanha/dist/Tanha.ttf) format('truetype');}

    @font-face {
        font-family: "gotham";
        src: url(info/html/fonts/gotham/Gotham-Black.woff2) format('woff2');
        src: url(info/html/fonts/gotham/Gotham-Black.woff) format('woff');
        }

    
    

